.check__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.collection__container .header{
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

.section__one {
    padding-right:  1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.section__one > img {
    border-radius: 2rem;
    object-fit: cover;
    height: 24rem;
}

.section__one__data__parent {
    display: flex;
    justify-content: space-between
}

.section__one__child__one {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.section__one__child__one > img{
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

.section__one__child__one > div {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.section__one__child__two > div{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
    gap: 0.7rem;
}

.section__three {
    padding: 0 1rem;
    /* position: relative; */
}
.section__three > :nth-child(1) {
    margin-bottom: 1rem;
}
.section__three > :nth-child(2){
    display: grid;
    gap: 2rem;
}
.section__three > :nth-child(1) > h4{
    color: var(--color-accent-dark);
    font-size: 0.8rem;
}


@media screen and (max-width: 1210px) {
    .check__items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .section__three {
        padding: 0;
    }
    .collection__table__data {
        /* The width of the container is being limited by the width of the parent container, so to get it out of the flow, position:absolute is being used */
        position: absolute; 
        
        grid-template-columns: repeat(2, 1fr);
        width: 85%;
        
    }
}

@media screen and (max-width: 1024px) {
    .collection__table__data {
        /* The width of the container is being liited by the width of the parent container, so to get it out of the flow, position:absolute is being used */
        position: absolute; 
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        
    }
}

@media screen and (max-width: 810px) {
    .check__items {
        grid-template-columns: repeat(1, 1fr);
    }
    .section__one {
        padding-right: 0;
        margin-bottom: 2rem;
    }

    /* For image */
    .section__one {
        gap: 2rem;
    }

    .section__two {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 700px){
    .section__two {
        /* Sets the display to inline to let the elements accomodate as much space as they want */
        display: inline;
    }

    .collection__table__data {
        /* changing from two grid-columns to 1 */
        grid-template-columns: 1fr;
    }

    .collection__container .header {
        text-align: center;
    }

    .section__three .section__three__heading{
        margin: 2rem auto 3rem;
    }
}