.textual__information {
    display: grid;
    grid-template-columns: 55% 45%;
    margin: 0 auto 7rem;
}

.textual__information > div.group__two {
    display: grid;
    grid-template-columns: 60% 40%;
}

.textual__information > p {
    /* font-family: "Fox on the Run Extra-Bold", sans-serif; */
    font-family: "Zen Dots" , cursive;
    font-size: 3rem;
    line-height: 1;
}


.group__two > p {
    font-size: 0.7rem;
    /* padding: 0 2rem; */
    color: var(--color-text-light);
}

.textual__information > p::selection, .group__two > p::selection {
    background: #000;
    color: #fff;
}

.banner__btn {
    /* To align the button in the bottom of the banner */
    align-self: end;
    display: block;
    width: 100%;
    background: #000;
    border-radius: 0;
    padding: 1.5rem 0
}

.pictures {
    height: 24rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    background: linear-gradient(120deg, #c7b0ff, #A292F6, #AA7AE9, #ED85D6);
}

.banner__container {
    position: relative;
}

.banner__container :nth-child(3) {
    position: absolute;
    top: 15rem;
    right: 10rem;
    transform: rotate(-30deg);
    transition: var(--transition);
}

.banner__container :nth-child(3):hover {
    transform: translateY(-2rem) rotate(-30deg);
}

.banner__container :nth-child(4) {
    position: absolute;
    top: 15rem;
    left: 10rem;
    transform: rotate(-30deg);
    transition: var(--transition);
}

.banner__container :nth-child(4):hover {
    transform: translateY(-2rem) rotate(-30deg);

}



/* To stop the cards from resizing, made them free, and not targetting them with a div by making their position adsolute */
/* Targetting them individually using nth-child of parent container. classes on imported elements don't work*/
/* Setting their fixed height and width in the main card component */

@media screen and (max-width: 1024px) {

    .banner__container :nth-child(3) {
        top: 25rem;
    }
    .banner__container :nth-child(4){
        top: 25rem;
    }
}
/* BREAKPOINT 1 */
@media screen and (max-width: 990px) {

    /* Targetting cards */
    .banner__container :nth-child(3) {
        top: 20rem;
        right: 8rem;
    }
    /* Targetting cards */
    .banner__container :nth-child(4) {
        top: 20rem;
        left: 8rem;
    }
}

/* BREAKPOINT 2 */
@media screen and (max-width: 750px) {
    .textual__information {
        display: block;
        text-align:center;
    }

    .textual__information > p {
        margin: 0 auto 2rem;
    }

    .textual__information > div.group__two {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .banner__btn {
        width: 40%;
        align-self: center;
    }

    /* Targetting cards */
    .banner__container :nth-child(3) {
        top: 30rem;
        right: 3rem;
    }
    /* Targetting cards */
    .banner__container :nth-child(4) {
        top: 30rem;
        left: 3rem;
    }
}

/* BREAKPOINT 3 */

@media screen and (max-width: 550px) {
    /* Targetting cards */
    .banner__container :nth-child(3) {
        top: 34rem;
        right: 3rem;
    }
    /* Targetting cards */
    .banner__container :nth-child(4) {
        top: 34rem;
        left: 3rem;
    }

    .textual__information {
        margin: 0 auto 5rem;
    }
}

/* BREAKPOINT 4 */

@media screen and (max-width: 320px) {
    .banner__container :nth-child(3){
        top: 40rem;
    }
    
    .banner__container :nth-child(4){
        top: 40rem;
    }
}