/* since the margin styles from the index.css are being applied to it as well, so we specifically target the section with the class of collection__container */

section.collection__container {
    margin-top: 5rem;
}
h2 {
    font-size: 1.8rem;
}
.gradient {
    background: linear-gradient(90deg, #76f4ac, #63d5ca, #51baeb, #48adf9, #5ca3e6, #6a7af5, #6e74f3, #7f55f8, #8952eb, #9c4be0, #b354b3, #c9569c, #de5f6f, #ed634f, #f4b589, #f2b35b, #ecc861, #ebe975, #ebf492);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.arrow__gradient {
    background: linear-gradient(90deg, #76f4ac, #63d5ca, #51baeb, #48adf9, #5ca3e6, #6a7af5, #6e74f3, #7f55f8, #8952eb, #9c4be0, #b354b3, #c9569c, #de5f6f, #ed634f, #f4b589, #f2b35b, #ecc861, #ebe975, #ebf492);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.collection__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection__header :nth-child(1) {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

/* CHROME TABLET SIZE */
@media screen and (max-width: 768px){
    .collection__header {
        display: block;
        text-align: center;
    }
    .collection__header > div {
        justify-content: center;
    }

}
@media screen and (max-width: 565px) {
    .collection__header > div :nth-child(n) {
        display: block;
        text-align: center;
    }
    .collection__header > div :nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .collection__header > div {
        padding: 2rem;
    }

    section.collection__container {
        margin-top: 3rem;
    }
}