.discover__container {
    margin-bottom: 10rem;
}
.tag__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.tag__container > :nth-child(1) {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

section.discover__container > h2 {
    margin-bottom: 1rem;
}



.smaller__cards__grid__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}


@media screen and (max-width: 750px) {

    /* 
    1. Changing the display for elements to take individual rows 
    2. Their individual displays remain flex from line number 7, just parent's display has changes so that they can take the full width of their respective rows
    */

    section.discover__container > h2 {
        margin-top: 1rem;
    }
    .tag__container {
        /* display: block; */
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .discover__container {
        text-align: center;
    }
    /* .tag__container__left {
        justify-content: center;
    }
    .tag__container__right {
        justify-content: center;
        margin-top: 1rem;
    } */
}
@media screen and (max-width: 740px) {
    /* making the cards take the entire width of the container when viewport size is less than 740px */
    .discover__container :nth-child(3) :nth-child(n) {
        width: 100%;
        border-radius: 1rem 1rem 1rem 1rem;
    }
}

@media screen and (max-width: 490px) {
    .tag__container > :nth-child(1) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tag__container__left :nth-child(n) {
        width: max-content;
        justify-content: center;
    }

    .tag {
        width: max-content;
    }
}
