@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap'); */
/* @import url('https://fonts.cdnfonts.com/css/fox-on-the-run'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-primary: #A292F5;
    --color-light: #8f78ff;
    --color-accent-dark: #4F10EB;
    --color-up: #24C3AE;
    --color-down: #e62e21;
    --color-active-accent: #1fc53e;
    --color-text-light: #8e8e8e;

    --transition: all 400ms ease;

    --container-width-lg: 85%;
    --container-width-md: 80%;
    --container-width-sm: 85%;
}

html {
    scroll-behavior: smooth;
}

::webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    
    /* To disable double scrollbars */
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* ++++++++++++++ GENERAL STYLES ++++++++++++++ */

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
}

.text-light {
    color: var(--color-text-light);
}

a {
    color: #000000;
    transition: var(--transition);
    font-size: 0.9rem;
}

a:hover {
    color: var(--color-text-light);
    cursor: pointer;
}

.btn {
    /* width: max-content; */
    display: inline-block;
    color: #ffffff;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid;
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-light);
}

/* BUTTON PRIMARY */
.btn-primary {
    background: #000000;
    color: #ffffff;
}

.btn-primary:hover {
    background: #505050;
    cursor: pointer;
}

/* BUTTON SECONDARY */
.btn-secondary {
    background: var(--color-primary);
    color: #ffffff;
}
.btn-secondary:hover {
    background: var(--color-light);
}

/* BUTTON CTA */
.btn-cta {
    background: transparent;
    border-radius: 2rem;
    border: 1px solid var(--color-accent-dark);
    color: var(--color-accent-dark);
}
.btn-cta:hover {
    color: #ffffff;
    background: var(--color-accent-dark);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* ++++++++++++++ MEDIA QUERIES (MEDIUM DEVICES) ++++++++++++++ */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
}

/* ++++++++++++++ MEDIA QUERIES (SMALL DEVICES) ++++++++++++++ */

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }
}