.header__image {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    aspect-ratio: 2/1;
    transition: var(--transition);
}

.header__image:hover {
    transform: rotate(30deg);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__links {
    display: flex;
    align-items: baseline;
    gap: 4rem;
    font-weight: 500;
}

.mobile__navbar__button {
    display: none;
    background: transparent;
}

.nav__icon[name="close-icon"] {
    display: none;
}
/* BREAKPOINT 1 */
@media screen and (max-width: 1050px) {
    .header__links {
        gap: 2rem;
    }
}

/* BREAKPOINT 2 */
@media screen and (max-width: 980px) {
    .header__links {
        gap: 1.5rem;
    }

    .header__links > a{
        font-size: 0.7rem;
    }
}

/* BREAKPOINT 3 */
@media screen and (max-width: 900px) {
    .mobile__navbar__button {
        display: block;
        background: var(--color-light);
        color: #fff;
        padding: 0.4rem 0.7rem;
        border-radius: 50%;
        transition: var(--transition);
    }

    .mobile__navbar__button:hover {
        border-radius: 20%;
    }

    .header__container {
        position: relative;
    }

    .header__links {
        /* display: none; */
        width: 100%;
        height: 100vh;
        background: var(--color-light);
        position: absolute;
    }

    .header__links > a {
        font-size: 0.9rem;
    }
}
/* 1em = 16px */