.footer__container {
    display: flex;
}

.contact__holder > img {
    aspect-ratio: 3/1 ;
    width: 10rem;
    /* height: 10rem; */
}
@media screen and (max-width: 1210px) {
    .container.footer__container {

        margin-top: 30rem;
    }
}