.collection__image {
    position: relative;
}
.collection__image > img {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

.collection__data {
    /* display: grid;
    grid-template-columns: 10% 10% 80%;
    column-gap: 1.5rem;
    align-items: center;
    border: 0 0 1px var(--color-text-light); */
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem 1rem;
    gap: 1rem;
    align-items: center;
    border-bottom:  2px solid rgb(212, 212, 212);
}

/* .data :nth-child(n) {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
} */

.upper {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: flex-end;
}
.lower {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
}

.floor__price__data {
    display: flex;
    align-items: center;
}
.result__data {
    display: flex;
    align-items: center;
}

.icon {
    margin: 0 0.2rem;
}

.verified {
    color: #51baeb;
    position: absolute;
    top: 2.1rem;
    left: 2.1rem;
}
@media screen and (max-width: 1260px) {
    .collection__data {
        width: 45%;
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 1215px) {
    .collection__data {
        width: 40%;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 1016px) {
    .collection__data {
        width: 45%;
    }
}

@media screen and (max-width: 903px) {
    .collection__data {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 385px) {
    /* Stops the text Floor price from going to the next line */
    .floor__price__data > small{
        width: max-content
    }

    .upper, .lower {
        gap: 2rem;
    }
    .upper > h4 {
        font-size: 0.9rem;
    }

}

